@import "tailwindcss";


html,body{
    overflow-x: hidden;
}
.Flashsale{
    font-family: "Bebas Neue", sans-serif;
}
.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #f1f1f1; /* light gray track */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #9ca3af; /* Tailwind gray-400 */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #6b7280; /* Tailwind gray-500 */
}